body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

header {
  background-image: url("../images/bg_top1.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.cabecalhoPrincipal-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 430px;
}

.cabecalhoPrincipal-nav-link {
  color: white;
  margin: 0 0 0 15px;
  font-size: 30px;
  font-weight: 600;
}

.cabecalhoPrincipal-nav-link:hover {
  text-decoration: none;
  color: rgb(236, 81, 0);
}

.dropdown {
  display: none;
}

footer {
  background-image: linear-gradient(#f5f5f5, rgb(190, 190, 190));
}

.redesocial {
  color: rgb(235, 106, 36);
}

.copyright {
  font-weight: 700;
}

.footer {
  padding-bottom: 0 !important;
  margin-left: 25px;
}

.redesocial:hover,
.redesocial:focus {
  text-decoration: none;
  color: rgb(236, 81, 0) !important;
}

hr {
  width: 50%;
  border-color: rgb(236, 81, 0);
  background-color: rgb(236, 81, 0);
  height: 1px;
}

.hrContato {
  border-color: rgb(236, 81, 0);
  background-color: rgb(236, 81, 0);
  height: 1px;
}

/* Contatos */
.mapa {
  margin: 50px 0 40px;
}

.textoContato {
  color: black;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 30px 0 8px;
  font-weight: 600;
  text-align: center;
  /* text-shadow: black 0.1em 0.1em 0.2em; */
}

.contatos {
  display: flex;
  justify-content: space-between;
  padding: 0 0 40px;
}

.tituloContato {
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.textoItem {
  margin-bottom: 5px;
  text-align: center;
}

/* Rações Gatos */
.gato {
  background-image: url("../images/fundo_laranja.jpg");
  color: white;
  font-size: 45px;
  font-weight: 700;
  padding: 40px 0;
}

.tituloArtigo {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.textoArtigo {
  line-height: 1.8;
  font-size: 18px;
}

.tituloRanking {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.textoRanking {
  font-size: 18px;
  line-height: 1.5;
}

.avaliacao {
  background: rgb(224, 222, 222);
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
  margin-bottom: 50px;
  padding: 20px 0;
}

/* Analise aprofundada */


@media (max-width: 768px) {
  header {
    background-image: url("../images/bg_top_mobile.jpg");
    background-size: cover;
    height: 50vh;
  }

  .cabecalhoPrincipal .container {
    display: flex;
    flex-direction: column;
  }

  .cabecalhoPrincipal-nav {
    display: none;
  }

  .cabecalhoPrincipal-titulo {
    display: flex;
    justify-content: center;
  }

  .dropdown {
    display: flex;
    justify-content: center;
  }

  .btn-primary {
    background-color: rgb(236, 81, 0);
    border-color: rgb(236, 81, 0);
    width: 70%;
    font-weight: 700;
    padding: 5px 50px 5px 15px;
  }

  .dropdown-menu a {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
  }

  .btn-primary.active.focus,
  .btn-primary.active:focus,
  .btn-primary.active:hover,
  .btn-primary:active.focus,
  .btn-primary:active:focus,
  .btn-primary:active:hover,
  .open > .dropdown-toggle.btn-primary.focus,
  .open > .dropdown-toggle.btn-primary:focus,
  .open > .dropdown-toggle.btn-primary:hover {
    background-color: rgb(236, 81, 0);
    border-color: rgb(236, 81, 0);
  }

  .footer {
    margin-left: 17px;
  }

  /* Contatos */
  .contatos {
    display: flex;
    flex-direction: column;
  }

  .itemContato {
    margin-bottom: 30px;
  }

  .mapaTamanho {
    width: 90%;
    height: 430px;
  }

  .ruim {
    border-left: 1px solid black;
    padding-left: 10px;
  }
}
